{{#each destinations as |destination|}}
  <!-- Don't uncomment yet -->

  <section class="showDestinationsTemplate">
    <h4 class="location">
      <small>Location:</small> {{destination.location}}
    </h4>
    <h4 class="note">
      <small>Note:</small> {{destination.note}}
    </h4>
    <h4 class="contact">
      <small>Contact:</small> {{destination.contact}}
    </h4>
  </section>

{{/each}}
