{{#each destinations as |destination|}}
  <!-- Don't uncomment yet -->

  <section class="col-4 mb-3">
    <h4 class="location row m-0">
      <small>Location:</small> {{destination.location}}
    </h4>
    <p class="note row m-0">
      <small>Note:</small> {{destination.note}}
    </p>
    <p class="contact row m-0">
      <small>Contact:</small> {{destination.contact}}
    </p>
    <button class="btn-primary" type="button" name="button">Update</button>
    <button class="btn-danger" type="button" name="button">Delete</button>
  </section>

{{/each}}
