{{#each destinations as |destination|}}
  <!-- Don't uncomment yet -->

  <section class="row">
    <h4 class="location col-4 mb-1">
      <small>Location:</small> {{destination.location}}
    </h4>
    <h4 class="note col-4 mb-1">
      <small>Note:</small> {{destination.note}}
    </h4>
    <h4 class="contact col-4 mb-1">
      <small>Contact:</small> {{destination.contact}}
    </h4>
  </section>

{{/each}}
