@import '~bootstrap/scss/bootstrap';

button {
  border-radius: 10px;
}

small {
  text-align: right;
}

.auth-area {
  display: flex;
}

.dest-btns {
  justify-content: space-between;
  align-items: center;
}

.container {
  float: right;
  width: 70%;
}

.dd-btn {
  background-color: #ffc107;
  color: #343a40;

  &:hover {
    background-color: #343a40;
    color: #ffc107;
  }
}

.dest-area {
  border: 1px solid grey;
  border-radius: 4px;
}

.dest-info {
  font-size: 1.2rem;
}

.dest-label {
  color: green;
  justify-content: center;
}

.dropdown-item {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: .5em;
  padding: .5em;
}

.dropdown-toggle,
.sign-out-button,
.delete-btn {
  border-radius: 10px;
}

.dropdown-menu {
  justify-content: center;
  padding: .5em;
}

.list-group {
  position: fixed;
  width: 20%;
}

.list-group-item {
  border-radius: 0;
  height: 3.5em;
  width: 100%;
}

.nav-link {
  color: #343a40;
}

.user-message {
  color: #ffc107;
}
