@import '~bootstrap/scss/bootstrap';

button {
  border-radius: 10px;
}

small {
  text-align: right;
}

.auth-area {
  display: flex;
}

.container {
  float: right;
  width: 70%;
}

.dest-area {
  border: 1px solid grey;
  border-radius: 4px;
}

.dest-info {
  font-size: 1.2rem;
}

.dest-label {
  color: green;
  justify-content: center;
}

.dropdown-item {
  padding: 1;
}

.dropdown-toggle,
.sign-out-button {
  border-radius: 10px;
}

.list-group {
  position: fixed;
  width: 25%;
}

.list-group-item {
  border-radius: 0;
  height: 3.5rem;
  width: 100%;
}

.nav-link {
  color: #343a40;
}

.user-message {
  color: yellow;
}
