@import '~bootstrap/scss/bootstrap';

$blue-ish: #4c6dff;
$yellow-ish: #ffcc4c;
$red-ish: #ff734c;

a {
  color: $yellow-ish;
}

body {
  background: url('public/travel.jpg');
  background-size: cover;
}

button {
  border-radius: 10px;
}

small {
  text-align: right;
}

.auth-area {
  display: flex;
}

.btn-danger {
  border-radius: 10px;
}

.btn-outline-danger {
  border-radius: 5px;
}

.destinations {
  float: right;
  margin: 2vw;
  width: 70vw;
}

.dest-btns {
  justify-content: space-between;
  align-items: center;
}

.dd-btn {
  background-color: $yellow-ish;
  color: $blue-ish;

  &:hover {
    background-color: $blue-ish;
    color: $yellow-ish;
  }
}

.dest-area {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
}

.dest-info {
  font-size: 1.2rem;
}

.dest-label {
  color: $blue-ish;
  justify-content: center;
}

.dropdown-item {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: .5em;
  padding: .5em;
}

.dropdown-toggle {
  border: 1px solid $yellow-ish;
  border-radius: 10px;

  &:hover {
    background-color: $blue-ish;
    border: 1px solid $yellow-ish;
    color: $yellow-ish;
  }
}

.dropdown-menu {
  justify-content: center;
  padding: .5em;
}

.list-group {
  position: fixed;
  width: 20%;
}

.list-group-item {
  color: $blue-ish;
  background-color: $yellow-ish;
  border-radius: .25rem;
  height: 3.5em;
  margin-top: .5rem;
  width: 100%;

  &:hover {
    background-color: $blue-ish;
    color: $yellow-ish;
  }
}

.navbar {
  background-color: $blue-ish;
}

.nav-link {
  color: $blue-ish;
}

.top-message {
  text-align: center;
}

.user-message {
  color: $yellow-ish;
  margin-left: 3em;
}

.welcome {
  color: $yellow-ish;
  width: 100vw;
}

#sign-out-btn {
  color: white;
}
